
.him{
  background:#f3f3f3;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:30px;
  text-align: left;
  padding-left: 50px;
}
.input{
   
    padding: 10px 30px;
    background: #f8a035;
    color: #fff;
    border: none;
}

.sanjay{
  display:flex;
  flex-direction: column;
  color:yellow;
}


